<section class="card-container">

  <nz-card
    *ngFor="let bike of bikes$ | async"
    class="card-item card-item-no-border"
    nzHoverable 
    style="width:400px" 
    [nzCover]="coverTemplate" 
    [routerLink]="['/bikes', bike.id]">
    <nz-card-meta 
      [nzTitle]="bike.title" 
      [nzDescription]="bikeService.getBikeTypeName(bike.bikeType)"></nz-card-meta>
    <ng-template #coverTemplate>
      <img alt="Bike Image" src="{{ bike.image }}" />
    </ng-template>
  </nz-card>

</section>