nz-layout {
    background: transparent;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card-item {
    width: 250px;
    margin: 16px;
}

.card-item-no-border {
    border: none;
  }