<ul nz-menu nzTheme="dark" nzMode="horizontal">
  <li nz-menu-item>
    <a
      routerLink="/posts"
      routerLinkActive="fx-menu__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Posts</a
    >
  </li>
  <li nz-menu-item>
    <a
      routerLink="/admin/posts"
      routerLinkActive="fx-menu__link--active"
      >Admin posts</a
    >
  </li>
</ul>

<!--
<ul class="fx-menu">
  <li>
    <a
      routerLink="/posts"
      routerLinkActive="fx-menu__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Posts</a
    >
  </li>
  <li>
    <a
      routerLink="/admin/posts"
      routerLinkActive="fx-menu__link--active"
      >Admin posts</a
    >
  </li>
  <li>
    <a
      routerLink="/home"
      routerLinkActive="fx-menu__link--active"
      >Home</a
    >
  </li>
</ul>
-->