<section class="container">
  <app-nav></app-nav>

  <ng-container *ngIf="loadingService.loading$ | async">
    <div class="overlay"></div>
    
    <app-loading></app-loading>
  </ng-container>

  <router-outlet></router-outlet>

  <app-footer></app-footer>
</section>




<nz-layout>
  <nz-header>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
  </nz-header>
  <nz-content>
    <div class="inner-content">Content</div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>