<section>

  <p>
    <a
      class="btn btn-secondary"
      [routerLink]="['/admin', 'bikes', 'create']">
      Create
    </a>
  </p>

  <table
    class="table"
    *ngIf="posts?.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of posts; let idx = index">
        <td>{{ idx + 1 }}</td>
        <td>{{ bike.title }}</td>
        <td>{{ bike.date | date: 'medium' }}</td>
        <td>
          <a
            class="btn btn-secondary"
            [routerLink]="['/admin', 'bikes', bike.id, 'edit']">
            Edit
          </a>
          <button
            class="btn btn-danger"
            (click)="remove(bike.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
