<section>

  <nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" class="mb-4">
    <nz-col>
      <h3 nz-typography>Bike list</h3>
    </nz-col>
    <nz-col>
      <a 
        nz-button 
        nzType="primary"
        nzSize="large"
        [routerLink]="['/admin', 'bikes', 'create']">Add Bike</a>
    </nz-col>
  </nz-row>

  <nz-table 
    *ngIf="bikes?.length > 0"
    [nzData]="bikes"
    nzBordered
    nzSize="middle">

    <thead>
      <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bike of bikes">
        <td>{{ bike.title }}</td>
        <td>
          {{ bikeService.getBikeTypeName(bike.bikeType) }}
        </td>
        <td>{{ bike.price }}</td>
        <td>{{ bike.qty }}</td>
        <td>
          <nz-rate [ngModel]="bike.rating" nzDisabled></nz-rate>
        </td>
        <td>
          <a 
            nz-button 
            nzType="primary" 
            [routerLink]="['/admin', 'bikes', bike.id, 'edit']">Edit</a>
        </td>
      </tr>
    </tbody>

  </nz-table>
</section>
