<section class="login-wrap">
  <div class="text-center">
    <h3 nz-typography>Login</h3>
  </div>
  

  <div
    class="alert alert-danger"
    *ngIf="authService.errorMessage$ | async as errorMessage">
    {{ errorMessage }}
  </div>

  <div
    class="alert alert-warning"
    *ngIf="message">
    {{ message }}
  </div>

  <form
    nz-form
    name="formLogin"
    [formGroup]="formLogin"
    novalidate>

    <nz-form-item nz-row>
      <nz-form-label
        nzFor="email"
        nzRequired
        nz-col nzSpan="6">
        Email
      </nz-form-label>
      <nz-form-control [nzErrorTip]="'Required'" nzHasFeedback>
        <input
          formControlName="email"
          nz-input
          nzSize="large" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row>
      <nz-form-label
        nzFor="password"
        nzRequired
        nz-col nzSpan="6">
        Password
      </nz-form-label>
      <nz-form-control [nzErrorTip]="'Required'" nzHasFeedback>
        <input
          type="password"
          formControlName="password"
          nz-input
          nzSize="large" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-col nzSpan="6"></nz-col>
      <nz-form-control>
        <button 
          nz-button 
          nzType="primary" 
          [disabled]="formLogin.invalid" 
          nzSize="large" 
          (click)="onLogin()">Submit</button>
      </nz-form-control>
    </nz-form-item>

  </form>

</section>
